@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Declaring CSS variables */
    :root {
        --deep-blue: #0c1022;
        --orange-red: #ff5619;
        --white: white;
        --blue-bg: rgba(67, 52, 236, 0.394);
    }

/* Navbar  Style  */

        header {
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 2;
           background-color: var(--deep-blue);
           width: 100vw;
           padding-inline: 5.75rem;
           padding-block: 1.5rem;
           top: 0;
        }

        header h1 {
            align-self: center;
        }
        body{
            background-color: var(--deep-blue);
            color: white;
            
        }
        nav {
            align-self: center;
        }

        nav a{
            color: white;
            text-decoration: none;
            margin-left: 2rem ;
            font-weight: 500;
        }

        a:hover{
            color: var(--orange-red);
            transition: color 500ms;
        }

        .menu-open {
            font-size: 2.5rem; 
            display: none;
        }

        .transparent-background {
            display: none;
        }

        .mobile-nav-container {
            display: none;
        }

        /* Contact Card */
        .contact-container {
            margin-block: 12rem;
            background-color: #ff5619;
            position: relative;
            height: 25rem;
        }

        .contact-card-container {
            background-color: rgb(0, 132, 255);
            width: 30vw;
            position: absolute;
            top: -5rem;
            left: 10%;
        }

        .form-container {
            background-color: bisque;
            padding: 2rem;
            height: 100%;
        }

        .form-container form {
            display: grid;
            gap: 1rem;
            width: 40rem;
            margin-left: auto;
            padding-block: 2rem;
            padding-inline: 0 3rem;
        }