@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Declaring CSS variables */
    :root {
        --deep-blue: #0c1022;
        --orange-red: #ff5619;
        --white: white;
        --blue-bg: rgba(67, 52, 236, 0.394);
    }

/* Navbar  Style  */

        header {
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 2;
           background-color: var(--deep-blue);
           width: 100vw;
           padding-inline: 5.75rem;
           padding-block: 1.5rem;
           top: 0;
        }

        header h1 {
            align-self: center;
        }
        body{
            background-color: var(--deep-blue);
            color: white;
            
        }

        .hero-section, 
        .main-categories-container, 
        .popular-courses-main,
        .faq-section,
        .testimonials-section, .footer-section,
        .contact-container
        {
            max-width: 78rem;
            margin-inline: auto;
        }


        nav {
            align-self: center;
        }

        nav a{
            color: white;
            text-decoration: none;
            margin-left: 2rem ;
            font-weight: 500;
        }

        a:hover{
            color: var(--orange-red);
            transition: color 500ms;
        }

        .menu-open {
            font-size: 2.5rem; 
            display: none;
        }

        .transparent-background {
            display: none;
        }

        .mobile-nav-container {
            display: none;
        }


/* Hero Section style */

        .hero-section
        {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .hero-section h1 {
            font-size: 2.5rem;

        }

        .home-content{
            align-self: center;
        }

        .home-content p
        {
            margin-block: 2rem 1.5rem;
            line-height: 1.8;
        }

        .button
        {
            background-color: var(--orange-red);
            border: 1px solid transparent;
            padding: 1rem 1.5rem;
            color: #fff;
            cursor: pointer;
            font-size: 1.5ch;
            transition: all 200ms;
            border-radius: 4px;
        }


        .button:hover
        {
            background-color: transparent;
            outline: transparent;
            border: 1px solid #fff;
            transform: translateY(5%);
        }

        .image-container {
            overflow: hidden;
        }

        .image-container img {
            transform: translate(7.5%, 1%);
        }

/* Categories section styles */
        .categories-section {
            background-color: var(--deep-blue);
        }

        .main-categories-container {
            display: flex;
            column-gap: 5rem;
        }

        .card {
            background-color:var(--deep-blue);
            border-radius: 2rem;
            padding: 2rem 2rem;
        }

        .categories-content {
            padding-block: 4rem;
            align-self: center;
        }
        .categories-content h2{
            font-size: 2rem;
        }

        .categories-content p{
            line-height: 1.5;  
            margin-block: 2rem;
      
        }

        .learn-more-btn{
            padding: 1rem;
            border: 1px solid transparent;
        }

        .card h4 {
            margin-block: 1rem;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            position: relative;
            top: 5rem;
        }

        .card p {
            line-height: 1.5;
            font-size: 0.85rem;
        }


        /* popular courses Section  */
        .popular-courses-main{
            margin-top: 10rem;
        }

        .popular-courses-main h2, .faq-section h2{
            text-align: center;
        }

        .course-cards{
            margin-block: 5rem;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1rem;
        }

        .course-card{
            text-align: center;
            background-color: var(--blue-bg);

            padding-block: 3rem;
            
            
        }
        .course-card:hover{
            background: transparent;
            border: 1px solid var(--blue-bg)
            
        }

        .course-card p{
            padding: 1rem;
            line-height: 1.8;
            
        }

/* FAQ section styles */
        .faq-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-block: 4rem;
            gap: 1rem;
        }

        .faq-question {
            display: flex;
            gap: 1rem;
            background-color: var(--orange-red);
            padding: 1.5rem;
            cursor: pointer;
        }

        .faq-answer {
            background-color: var(--orange-red);
            max-height: 0;
            overflow: hidden;
        }

        .faq-answer.expanded {
            padding-inline: 3rem 4rem;
            padding-bottom: 1.5rem;
            max-height: 150px;
        }

        .plus-sign.none {
            display: none;
        }

        .minus-sign{
            display: none;
        }

        .minus-sign.active, .plus-sign.show {
            display: block;
        }


/* Testimonials Section */
.testimonials-section h2{
    text-align: center;
    padding-block: 2.2rem;
}
        .testimonial-inner {
            
            margin-bottom: 1rem;
            text-align: center;
           
        }

        .testimonial-image {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            border: 10px solid var(--orange-red);
            text-align: center;
            margin-inline: auto;
        }

        .testimonial-image img{
           height: 100%;
           width: 100%;
           object-fit: cover;
        }

        .testimonial {
            background-color: var(--orange-red);
            padding: 2rem;
            margin-top: 3rem;
            position: relative;
        }

        .testimonial::before {
            content: "";
            display: block;
            width: 60px;
            height: 60px;
            position: absolute;
            left: 43%;
            top: -1rem;
            background: linear-gradient(135deg, rgba(253,185,29,1) 0%,rgba(255,86,25,1) 30%);
            z-index: -1;
            transform: rotate(45deg);
        }
        .testimonials-section{
            overflow: hidden;
            position: relative;
        }
        .testimonial-container
        {
            margin-block: 2rem;
        }

        .swiper-pagination {
            z-index: -999 !important;
        }

        
        /* Footer Section style */
        .footer-section{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 6rem;
            padding-block: 2rem;

        }


        footer{
            background-color: var(--orange-red);
            margin-top: 5rem;
        }

        li{
            list-style: none;
            padding: 0.5rem 0;
            
        }

        li a{
            text-decoration: none;
            color: var(--white);

        }
    
        .contact-section p{
            padding-block: 0.2rem;
        }

        .socials{
            padding-block: 2rem;
            /* display: flex;
            gap: 1rem; */
        }
        
    /* child selector can be used to achieve the same display flex code effect as above */
        /* .socials svg:nth-child(2),  .socials svg:nth-child(4){
            margin-inline: 1rem;
        } */
    
        .egator-section p{
            line-height: 1.5;
            padding-block: 2rem;
        }


















    @media screen and (max-width:768px) {

        /* Navbar section styling  */
            .hero-section,.main-categories-container, .faq-section,  .footer-section{
                margin-inline: 0.5rem;
            }

            header{
                padding-inline: 1.8rem !important;
                padding-block: 0.78rem;
            }

            .hero-section {
                margin-top: 1.5rem;
                text-align: center;
            }


            .desktop-nav {
                display: none;
            }

            .menu-open {
                display: block;
                transform: translateY(-7%);
            }

            .transparent-background {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.71);
                z-index: 1000;
            }

            .mobile-nav-container {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 70%;
                background-color: var(--white);
                color: var(--blue-bg);
            } 

            .mobile-nav {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                margin-top: 6rem;
            }

            .mobile-nav a {
                color: var(--deep-blue);
                font-size: 1.75rem;
                font-weight: 400;
            }

            .menu-close {
                font-size: 2.5rem;
                display: flex;
                justify-content: flex-end;
                margin-right: 1rem;
                margin-top: 2vh;
                align-self: center;
            }
 
    /* Hero section style */
            .hero-section{
                display: grid;
                grid-template-columns: 1fr;
            }

            .hero-section h1 {
                font-size: 8vw;
            }

            .image-container {
                height: 20rem;
                order: -1;

            }

            .image-container img {
                width: 90vw;
                z-index: -1000;
                transform: translateY(-10%);
            }

            .home-content {
                display: grid;
            }

    /* Categories section  */
            .main-categories-container {
                display: block;
                 margin-bottom: 3rem;
                 padding-inline: 1rem ;
            
            }
            
            .cards {
                grid-template-columns: repeat(2,1fr);
                top: 0;   
                gap:0.5rem ;

            }
            
            .categories-section{
                margin-block: 5rem;
                padding-bottom: 0.5rem;
            }

            .card {
                padding: 0.5rem;
                border-radius: 1.2rem;
                
            }

            .card img{
                
                width: 100px;
            }
            .course-cards
            {
                grid-template-columns: 1fr;
                padding-inline: 1rem;
            }

            /* FAQ section */
            .faq-container {
                grid-template-columns: 1fr;
            }

            /* Footer Section  */
             
            .footer-section{
                grid-template-columns: 1fr;
                gap: 3rem;
                padding-block: 2rem;

            }

    
        }

        




        @media screen and (min-width:500px) and (max-width:768px) {
            .image-container img {
                width: 60vw;
            }

            .hero-section h1 {
                font-size: 5vw;
            }

            .button {
                margin-inline: 15vw;
            }
        }



/* footer span{
    text-align: center;
    border: 2rem solid blue;
} */
