@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Navbar  Style  */

        header {
            display: flex;
            justify-content: space-between;
            position: fixed;
            z-index: 2;
           background-color: #0c1022;
           width: 100vw;
           padding-inline: 5.75rem;
           padding-block: 1.5rem;
           top: 0;
        }

        header h1 {
            align-self: center;
        }
        body{
            background-color: #0c1022;
            color: white;
            
        }

        .hero-section, .main-categories-container
        {
            max-width: 78rem;
            margin-inline: auto;
        }


        nav {
            align-self: center;
        }

        nav a{
            color: white;
            text-decoration: none;
            margin-left: 2rem ;
            font-weight: 500;
        }

        a:hover{
            color: rgb(255, 86, 25);
            transition: color 500ms;
        }

        .menu-open {
            font-size: 2.5rem; 
            display: none;
        }

        .transparent-background {
            display: none;
        }

        .mobile-nav-container {
            display: none;
        }


/* Hero Section style */

        .hero-section
        {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .hero-section h1 {
            font-size: 2.5rem;

        }

        .home-content{
            align-self: center;
        }

        .home-content p
        {
            margin-block: 2rem 1.5rem;
            line-height: 1.8;
        }

        .button
        {
            background-color: rgb(200, 54, 0);
            border: 1px solid transparent;
            padding: 1rem 1.5rem;
            color: #fff;
            cursor: pointer;
            font-size: 1.5ch;
            transition: all 200ms;
            border-radius: 4px;
        }


        .button:hover
        {
            background-color: transparent;
            outline: transparent;
            border: 1px solid #fff;
            transform: translateY(5%);
        }

        .image-container {
            overflow: hidden;
        }

        .image-container img {
            transform: translate(7.5%, 1%);
        }

/* Categories section styles */
        .categories-section {
            background-color: rgb(149, 185, 248);
        }

        .main-categories-container {
            display: flex;
            column-gap: 5rem;
        }

        .card {
            background-color: rgb(255, 21, 0);
            border-radius: 2rem;
            padding: 2rem 2rem;
        }

        .categories-content {
            padding-block: 4rem;
            align-self: center;
        }
        .categories-content h2{
            font-size: 2rem;
        }

        .categories-content p{
            line-height: 1.5;  
            margin-block: 2rem;
      
        }

        .learn-more-btn{
            padding: 1rem;
            border: 1px solid transparent;
        }

        .card h4 {
            margin-block: 1rem;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            position: relative;
            top: 5rem;
        }

        .card p {
            line-height: 1.5;
            font-size: 0.85rem;
        }





        @media screen and (max-width:768px) {

    /* Navbar section styling  */
            .hero-section,.main-categories-container{
                margin-inline: 0.5rem;
            }

            header{
                padding-inline: 1.8rem !important;
                padding-block: 0.78rem;
            }

            .hero-section {
                margin-top: 1.5rem;
                text-align: center;
            }


            .desktop-nav {
                display: none;
            }

            .menu-open {
                display: block;
                transform: translateY(-7%);
            }

            .transparent-background {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.71);
                z-index: 1000;
            }

            .mobile-nav-container {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 70%;
                background-color: #FCF6F5FF;
                color: #0c1022;
            } 

            .mobile-nav {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                margin-top: 6rem;
            }

            .mobile-nav a {
                color: #0c1022;
                font-size: 1.75rem;
                font-weight: 400;
            }

            .menu-close {
                font-size: 2.5rem;
                display: flex;
                justify-content: flex-end;
                margin-right: 1rem;
                margin-top: 2vh;
                align-self: center;
            }
 
    /* Hero section style */
            .hero-section{
                display: grid;
                grid-template-columns: 1fr;
            }

            .hero-section h1 {
                font-size: 8vw;
            }

            .image-container {
                height: 20rem;
                order: -1;

            }

            .image-container img {
                width: 90vw;
                z-index: -1000;
                transform: translateY(-10%);
            }

            .home-content {
                display: grid;
            }

    /* Categories section  */
            .main-categories-container {
                display: block;
                 margin-bottom: 3rem;
                 padding-inline: 1rem ;
            
            }
            
            .cards {
                grid-template-columns: repeat(2,1fr);
                top: 0;   
                gap:0.5rem ;

            }
            
            .categories-section{
                margin-block: 5rem;
                padding-bottom: 0.5rem;
            }

            .card {
                padding: 0.5rem;
                border-radius: 1.2rem;
                
            }

            .card img{
                
                width: 100px;
            }
    
        }






        @media screen and (min-width:500px) and (max-width:768px) {
            .image-container img {
                width: 60vw;
            }

            .hero-section h1 {
                font-size: 5vw;
            }

            .button {
                margin-inline: 15vw;
            }
        }




